.container{
    background-color: gray;
    height: 700px;
    width: 700px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    padding: 2px;
}

.box{
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    font-size: 200px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.box:hover{
    scale: 1.02;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
